@charset "UTF-8";
/* base font-size corresponds to 10px and is adapted to rem unit */

.erreur{
	color : red;
}

.logo{
	  float: left; 
}

.id{
	color: white;
	background-color: #00558b;
	margin: 20px auto;
	
}

.bouton_confirm{
	float:right;
}

.navnav{
	
	margin-left: auto;
  	margin-right: auto;
  	padding-left: 100px;
  	padding-right: 100px;
  	overflow: auto;
  	z-index: 1;
}

